.attendance-registration__message {
    width: 100%;
    height: auto;
}

.attendance-registration__message--success {
    font-weight: 400;
    font-style: normal;
    font-size: clamp(10px, 2vw, 20px);
    background-color: #99FFCC;
    color: #000000;
    opacity: 0.5;
    text-align: center;
}

.attendance-registration__message--error {
    font-weight: 400;
    font-style: normal;
    font-size: clamp(10px, 2vw, 20px);
    background-color: #FF000080;
    color: #000000;
    opacity: 0.5;
}

.attendance-registration__wrap {
    max-width: 1540px;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance-registration__content {
    width: 60%;
    text-align: center;
}

.attendance-registration__status {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.attendance-registration__status--working-status {
    margin: 0 auto;
    width: clamp(60px, 7vw, 100px);
    height: 40px;
}

.working-status {
    display: block;
    padding: 10px 15px;
    background-color: #C8C8C8;
    border-radius: 50px;
    font-weight: 700;
    font-size: clamp(10px, 1.5vw, 18px);
    color: #696969;
    white-space: nowrap;
}

.attendance-registration__status--working-day {
    margin: 0;
    font-weight: 400;
    font-size: clamp(20px, 3vw, 40px);
    color: #000000;
}

.attendance-registration__status--current-time {
    margin: 0;
    font-weight: 700;
    font-size: clamp(40px, 6vw, 80px);
    color: #000000;
}

.attendance-registration__form {
    margin: 5rem auto;
    width: 90%;
}

.attendance-registration__form form {
    margin: 0 auto;
    width: 30%;
    height: clamp(50px, 6vw, 77px);
}

.attendance-registration__form--at-work {
    display: flex;
}

.form__attendance-button--submit {
    width: 100%;
    height: 100%;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 700;
    font-size: clamp(12px, 2.5vw, 32px);
    letter-spacing: 15%;
    white-space: nowrap;
}

.form__break-button--submit {
    width: 100%;
    height: 100%;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 700;
    font-size: clamp(12px, 2.5vw, 32px);
    letter-spacing: 15%;
    white-space: nowrap;
}

.attendance-registration__clock-out {
    font-weight: 700;
    font-size: clamp(13px, 2vw, 26px);
}