.user-corection-list__session-message {
    font-weight: 700;
    font-size: clamp(10px, 2vw, 18px);
    background-color: #ff9;
    color: #000000;
    text-align: center;
}

.user-corection-list__content {
    max-width: 1540px;
    margin: 5rem auto;
    width: 60%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 40px auto auto;
    gap: 2rem;
}

.user-corection-list__title {
    grid-row: 1/2;
    padding: 0 0 0 1rem;
    border-left: 8px solid #000;
    height: 40px;
    font-size: clamp(20px, 2.5vw, 30px);
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 0;
}

.user-corection-list__tab {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
}