.auth-background {
    background-color: #FFFFFF;
}

.content-background {
    background-color: #F0EFF2;
}

.layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    background-color: #000000;
    grid-row: 1/2;
}

.main {
    grid-row: 2/3;
}

.header__inner {
    margin: 0 auto;
    max-width: 1540px;
    min-height: 80px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo,
.header__item {
    width: calc(100%/3);
    height: auto;
}

.header__logo--item {
    display: inline-block;
    max-width: 370px;
    height: auto;
    appearance: none;
    text-decoration: none;
    border: none;
}

.header__logo--item img {
    display: inline-block;
    border: none;
    width: 100%;
    height: auto;
}

.nav__wrap {
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.25rem;
    height: 40px;
    line-height: 40px;
}

.screen-transition {
    appearance: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: clamp(10px, 1.8vw, 24px);
    color: #FFFFFF;
    white-space: nowrap;
}

.logout-button__submit {
    padding: 0;
    height: 40px;
    line-height: 40px;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 700;
    font-size: clamp(10px, 1.8vw, 24px);
    color: #FFFFFF;
    white-space: nowrap;
}

@media screen and (max-width:850px) {
    .header__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
}