.staff-list__content {
    max-width: 1540px;
    margin: 5rem auto;
    width: 60%;
    display: grid;
    grid-template-rows: 40px auto;
    gap: 5rem;
}

.staff-list__title {
    grid-row: 1/2;
    padding: 0 0 0 1rem;
    border-left: 8px solid #000;
    height: 40px;
    font-size: clamp(20px, 2.5vw, 30px);
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 0;
}

.staff-list__table-wrap {
    grid-row: 2/3;
}

.staff-list__table {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    border-collapse: collapse;
}

.staff-list__table-header {
    border-bottom: 3px solid #E1E1E1;
}

.staff-list__heading {
    padding: 0.5rem 5rem;
    font-weight: 700;
    font-size: clamp(12px, 2vw, 16px);
    color: #737373;
    white-space: nowrap;
    letter-spacing: 0.15em;
}

.staff-list__item-line {
    border-bottom: 2px solid #E1E1E1;
}

.staff-list__item-line:last-child {
    border-bottom: none;
}

.staff-list__item {
    padding: 0.5rem 5rem;
    font-weight: 700;
    font-size: clamp(12px, 2vw, 16px);
    text-align: center;
    color: #737373;
    white-space: nowrap;
    letter-spacing: 0.15em;
    vertical-align: middle;
    line-height: 1.5;
}

.staff-list__screen-transition {
    display: inline-block;
    appearance: none;
    border: none;
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width:1040px) {
    .staff-list__heading {
        padding: 0.5rem 3rem;
    }

    .staff-list__item {
        padding: 0.5rem 3rem;
    }
}

@media screen and (max-width:850px) {
    .staff-list__content {
        width: 80%;
    }

    .staff-list__heading {
        padding: 0.5rem 1rem;
    }

    .staff-list__item {
        padding: 0.5rem 1rem;
    }
}