.user-register-form__content {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

.user-register-form__form-wrap,
.user-register-form__content--screen-transition {
    width: 50%;
    margin: 0 auto;
}

.user-register-form__heading {
    font-weight: 700;
    font-style: normal;
    font-size: clamp(28px, 2.6vw, 36px);
    color: #000;
}

.user-register-form__group {
    margin-bottom: 30px;
    text-align: left;
}

.user-register-form__group--title {
    margin-bottom: 0.5rem;
}

.user-register-form__group--label {
    font-weight: 700;
    font-size: clamp(18px, 1.8vw, 24px);
    color: #000;
}

.user-register-form__group--content input {
    width: 100%;
    height: 45px;
    font-size: clamp(12px, 1.3vw, 18px);
    border: 1px solid #000000;
    border-radius: 4px;
    outline: none;
}

.user-register-form__group--error {
    font-weight: 400;
    font-size: clamp(12px, 1.3vw, 18px);
    color: #FF5555;
}

.user-register-form__button {
    margin-top: 80px;
}

.user-register-form__button--submit {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    background-color: #000000;
    font-weight: 700;
    font-size: clamp(18px, 2vw, 26px);
    color: #FFFFFF;
    cursor: pointer;
}

.user-register-form__content--screen-transition {
    margin-top: 30px;
}

.screen-transition__login {
    appearance: none;
    text-decoration: none;
    cursor: pointer;
    color: #0073CC;
    font-weight: 400;
    font-size: clamp(12px, 1.5vw, 20px);
}